.brand-guadient{
    background: #0091ff;
    background: -webkit-linear-gradient(to top,#0091ff,#32cd4c);
    background: linear-gradient(to top,#0091ff,#32cd4c);
    -webkit-background-clip: text;
    color: transparent;
}
.banner-holder, .main-page-header{
    background-image: url("https://i.pinimg.com/736x/21/63/04/216304ff93703c054dc13d28def31e99.jpg");
    background-size: cover;
    background-position: bottom;
}
.custom-nav{
    backdrop-filter:blur(8px);
}